.btn1 {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    }
    .btn2 {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    }
    .btn3 {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    }
    .section1 {
      border: 1px solid darkblue;
      height: 200px;
      padding: 10px;
      background-color: lightcyan;
      width: 75%;
      margin-bottom: 50px;
    }
    .text {
        border: 1px solid darkblue;
        height: 220px;
        padding: 10px;
        background-color: hsla(120,50%,75%,0.3);
        width: 25%;
      }
    .btn1:hover {
      background-color: #F03778;
      color: white;
      cursor: pointer;
      border: 1px solid cyan;
      box-shadow: 5px 5px 9px rgba(240, 55, 120, 0.8);
    }
    .btn2:hover {
      background-color: rgb(111, 150, 100);
      color: white;
      cursor: pointer;
      border: 1px solid cyan;
      box-shadow: 5px 5px 9px rgba(111, 150, 100, 0.8);
    }
    .btn3:hover {
      background-color: rgb(100, 63, 192);
      color: white;
      cursor: pointer;
      border: 1px solid cyan;
      box-shadow: 5px 5px 9px rgba(100, 63, 192, 0.8);
    }
    .symbol {
      position: absolute;
      margin-top: -10px;
      color: blue;
    }
    .quicksand {
      opacity: 0;
      position: absolute;
      margin-top: -12px;
      margin-left: 15px;
      font-family: "Quicksand";
      font-size: 15px;
    }
    .quicksand:hover {
      opacity: 1;
      cursor: pointer;
    }
    .sectionoff {
      position: absolute;
      margin-top: 10px;
    }
    .font1 {
      font-size: 15px;
      text-decoration: underline;
    }
    .font2 {
      font-size: 15px;
      text-decoration: underline;
      position: absolute;
      margin-top: 20px;
    }
    .prompt {
      opacity: 0;
      position: absolute;
      margin-top: 50px;
      margin-left: 20px;
      font-family: 'Prompt', sans-serif;;
      font-size: 15px;
    }
    .prompt:hover {
      opacity: 1;
      position: absolute;
      margin-top: 46px;
      cursor: pointer;
    }
    .symbol2 {
      position: absolute;
      margin-top: 50px;
      color: blue;
    }
    .font3 {
      font-size: 15px;
      text-decoration: underline;
      position: absolute;
      margin-top: 90px;
    }
    .roboto {
      opacity: 0;
      position: absolute;
      margin-top: 120px;
      margin-left: 20px;
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
    }
    .roboto:hover {
      opacity: 1;
      position: absolute;
      margin-top: 120px;
      cursor: pointer;
    }
    .symbol3 {
      position: absolute;
      margin-top: 120px;
      color: blue;
    }
    h1 {
        font-family: "Quicksand";
        letter-spacing: 3px;
        text-decoration: overline underline double;
        margin-bottom: 30px;
    }
    h2 {
        font-family: "Quicksand";
        text-shadow: 1px 3px 4px rgba(10, 55, 120, 0.8);
    }