body {
    background-color: black;
    height: 2260px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Helvetica";
    color: rgb(181, 172, 172);
    height: 69px;
    border-bottom: 1px solid seashell;
}
.title {
margin-left: 10px;
font-size: 50px;
font-family: 'Dancing Script', cursive;
}
.mission, .featuredtea, .locations {
    text-decoration: underline;
    padding: 15px;
}
.image {
    margin-left: 50px;
    filter: brightness(0.8);
}
.objective {
    position: absolute;
    text-align: center;
    top: 55%;
    left: 4%;
    width: 1255px;
    background-color: black;
    font-family: "Helvetica";
    color: rgb(181, 172, 172)
}
.info {
    display: flex;
    justify-content: space-around;
    padding: 0px 119px;
    flex-wrap: wrap;
    text-align: center;
    font-family: "Helvetica";
    filter: brightness(0.8);
    color: rgb(181, 172, 172);
    height: 69px;
}
.question {
    text-align: center;
    font-family: "Helvetica";
    color: rgb(181, 172, 172)
}
.image2 {
    margin-left: 50px;
    margin-top: 580px;
    filter: brightness(0.8);
    z-index: 1;
}
.address1 {
    width: 300px;
    height: 200px;
    background-color: black;
    font-family: "Helvetica";
    color: rgb(181, 172, 172)
}
.address2 {
    width: 300px;
    height: 200px;
    background-color: black;
    font-family: "Helvetica";
    color: rgb(181, 172, 172)
}
.address3 {
    width: 300px;
    height: 200px;
    background-color: black;
    font-family: "Helvetica";
    color: rgb(181, 172, 172)
}
.address1 h4 {
    margin-bottom: -0.7em;
}
.address1 span {
    line-height: 2.5;
}
.address2 h4 {
    margin-bottom: -0.7em;
}
.address2 span {
    line-height: 2.5;
}
.address3 h4 {
    margin-bottom: -0.7em;
}
.address3 span {
    line-height: 2.5;
}
.addresses {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-width: 1000px;
    position: absolute;
    top: 1600px;
    left: 160px;
}
.address-title {
    position: absolute;
    top: 1540px;
    left: 600px;
    color: lightgray;
    z-index: 2;
}
.end-caption {
    color: lightgray;
    text-align: center;
    font-family: "Helvetica";
    line-height: 0.4;
    margin-right: 100px;
}
.copyright {
    color: lightgray;
    font-family: "Helvetica";
}