.table1 {
    position: absolute;
    margin-left: 600px;
    margin-top: 140px;
    border: 2px solid;
    width: 703px;
    height: 90px;
    background-color: rgba(12,79,210,0.2)
}
.table2 {
    position: absolute;
    margin-left: 600px;
    margin-top: 350px;
    border: 2px solid;
    width: 703px;
    height: 90px;
    background-color: rgba(225, 156, 7, 0.2)
}
.table3 {
    position: absolute;
    margin-left: 600px;
    margin-top: 580px;
    border: 2px solid;
    width: 703px;
    background-color: rgba(205,62,87,0.2);
    height: 90px
}
.table1 th {
    border: 1px solid;
    border-collapse: collapse;
    max-width: 50px;
}
.table1 td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: left;
    max-width: 50px;
}
.table2 th {
    border: 1px solid;
    border-collapse: collapse;
    max-width: 50px;
}
.table2 td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: left;
    max-width: 100px;
}
.table3 th {
    border: 1px solid;
    border-collapse: collapse;
    max-width: 100px;
}
.table3 td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: left;
    max-width: 100px;
}
.info1 {
    float: left;
    max-width: 550px;
    margin-right: 800px;
    border: 2px solid;
    margin-top: 5px;
    background-color: rgba(12,79,210,0.2)
}
.info2 {
    float: left;
    max-width: 550px;
    margin-right: 800px;
    border: 2px solid;
    margin-top: 35px;
    background-color: rgba(225, 156, 7, 0.2)
}
.info3 {
    float: left;
    max-width: 550px;
    margin-right: 800px;
    border: 2px solid;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: rgba(205,62,87,0.2);
}
.tag {
    width: 28%;
}
.structure {
    width: 60%;
}
.h2title1 {
    margin-top: 50px;
}
.h2title2 {
    position: relative;
    margin-top: 30px;
}
#img1 {
    background-image: url(./img1.jpg);
    font-family: "Ysabeau Office"
}
.img2 {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}
